<div layout="row">
    <mat-tab-group>
        <mat-tab label="Local TODOs">
            <mat-grid-list cols="4" rowHeight="4:1">
                <mat-grid-tile [colspan]=4>
                    <form class="input-form">
                        <mat-form-field class="input-field">
                            <input matInput placeholder="Enter Todo">
                        </mat-form-field>
                    </form>
                    <button id="addTodo" mat-fab color="warn" (click)="createTodo()"><i
                            class="material-icons create">create</i></button>
                </mat-grid-tile>
                <mat-grid-tile>

                </mat-grid-tile>

            </mat-grid-list>
        </mat-tab>
        <mat-tab label="World API"> To be added </mat-tab>
    </mat-tab-group>

</div>